<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>You already signed up</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<h1>You already signed up</h1>
<a href="/signin">Sign In</a>
<a href="/">Home</a>
</body>
</html>