<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>User not founded</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<h1>User Not Found</h1>
<a href="/signin">Sign In Again!</a>
<a href="/">Home</a>
<a href="/signup">Sign Up</a>
</body>
</html>