<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>UMD date</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <div id="outerborder">
        <div id="logo">
        </div>
        <h2>Welcome to UMDdate</h2>
        <div id="movies">
            <p>Considering a movie date?</p>
            <p>Here is a suggestion!</p>
            <%- movies %>
        </div>
        <div id="options">
            <ul>
                <li>
                    <a href="/signup">
                        <button>Sign Up</button>
                    </a>
                </li>
                <li>
                    <a href="/signin">
                        <button>Sign In</button>
                    </a>
                </li>
            </ul>
        <div>
    </div>
</body>