<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>UMD date</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Welcome to UMDdate</h2>
    <ul>
        <li>Searching friends <a href="/searching"">search your friends!</a></li>
        <li>Check who like me <a href="/likedme">look up list who like me!</a></li>
        <hr>
        
        <li>Update your data <a href="/update">Update</a></li>
        <li>Check your data <a href="userdata">Userdata</a></li>
        <hr>
        
        <li>Log Out <a href="/logout">log out</a></li>
    </ul>
</body>